@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
  background-color: #f8fafc;
  font-family: "Geist", sans-serif;
}


.PrimaryButton {
  background-color: #244d3f;
  color: white;
}

.activeButton {
  background-color: #244d3f;
  color: white;
}

.unactiveButton {
  background-color: transparent;
  color: black;
}

.page_404 {
  padding: 40px 0;
  font-family: "Arvo", serif;
}



.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-repeat: no-repeat;
  height: 60vh;
  background-position: center;
}


.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
